# Created by .ignore support plugin (hsz.mobi)
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/workspace.xml
*.jks
.idea/
app/src/main/java/com/mcssoft/racemeeting/Git Notes
app/src/main/java/com/mcssoft/racemeeting/Notes
gradle/
/local.properties
